# VacationPy
----

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [17]:
# File to Load
output_data_file = "output_data/city_data.csv"

# Read data file and store into Pandas Data Frame
cityData_df = pd.read_csv(output_data_file)
cityData_df.head()

        City  Latitude  Longitude  Humidity  Temperature  Clouds   Wind
0    Kismayo   -0.3582    42.5454        82        25.79       9   6.02
1     Gīdolē    5.6500    37.3667        69        15.66      48   0.81
2  Busselton  -33.6500   115.3333        54        23.38      40   3.81
3  Havøysund   70.9963    24.6622        60         1.49     100  14.72
4    Zeerust  -25.5369    26.0751        78        19.45      99   5.06

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [18]:
gmaps.configure(api_key=g_key)

In [19]:
locations = cityData_df[["Latitude", "Longitude"]]
weights = cityData_df["Humidity"]

In [48]:
fig = gmaps.figure()

fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
heatmap_layer = gmaps.heatmap_layer(locations, weights=weights)
heatmap_layer.max_intensity = 200
heatmap_layer.point_radius = 5
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [42]:
perfect_weather_df = cityData_df.loc[(cityData_df["Temperature"] < 26.66) & (cityData_df["Temperature"] > 12.77) \
                                    & (cityData_df["Wind"] < 10) \
                                    & (cityData_df["Clouds"] == 0)]
perfect_weather_df.dropna()
perfect_weather_df

,City,Latitude,Longitude,Humidity,Temperature,Clouds,Wind
7,Punta Arenas,-53.1500,-70.9167,54,16.01,0,4.63
17,Port Elizabeth,-33.9180,25.5701,77,21.17,0,4.12
23,Los Llanos de Aridane,28.6585,-17.9182,41,18.96,0,1.79
28,Xucheng,20.3500,110.1288,72,16.39,0,3.59
49,Bilma,18.6853,12.9164,28,14.34,0,3.55
55,Pacific Grove,36.6177,-121.9166,75,18.65,0,1.34
64,Geraldton,-28.7667,114.6000,49,20.23,0,3.09
78,Lebu,-37.6167,-73.6500,63,16.16,0,4.96
120,Najrān,17.4924,44.1277,60,18.36,0,0.56
145,Cape Town,-33.9258,18.4232,69,19.49,0,1.34
154,Codrington,-38.2667,141.9667,82,13.22,0,4.57
164,Coquimbo,-29.9533,-71.3436,55,19.85,0,6.69
170,Laguna,38.4210,-121.4238,75,16.93,0,0.45
180,Salalah,17.0151,54.0924,69,24.05,0,2.06
211,Victor Harbor,-35.5667,138.6167,74,24.33,0,2.60
213,Esperance,-33.8667,121.9000,81,14.91,0,6.77
214,Pisco,-13.7000,-76.2167,65,26.03,0,4.63
225,Atar,20.5169,-13.0499,9,24.20,0,4.90
234,Nānākuli,21.3906,-158.1547,69,26.50,0,2.06
243,Koutiala,12.3917,-5.4642,9,23.82,0,4.08
244,Umm Kaddadah,13.6017,26.6876,24,14.03,0,7.64
249,Kita,13.0349,-9.4895,12,25.82,0,2.47
257,Mount Gambier,-37.8333,140.7667,82,13.95,0,4.63
334,Nouadhibou,20.9310,-17.0347,27,22.99,0,3.60
337,Vīsāvadar,21.3833,70.6833,39,18.91,0,2.60
345,Khanewal,30.3000,71.9333,74,12.90,0,2.67
366,Port Lincoln,-34.7333,135.8667,83,18.79,0,4.61
381,Niceville,30.5169,-86.4822,77,21.43,0,4.47
383,Mt. Pleasant,32.7941,-79.8626,51,18.39,0,0.45
402,Constitución,-35.3333,-72.4167,54,18.24,0,7.81
406,Kidal,18.4411,1.4078,19,17.23,0,4.60
410,Saint-Pierre,-21.3393,55.4781,88,24.82,0,1.54
422,Bol,13.4586,14.7147,35,19.44,0,8.99
436,Forbes,-33.3833,148.0167,64,17.09,0,5.26
475,Half Moon Bay,37.4636,-122.4286,76,18.10,0,5.14
506,Jieshi,22.8134,115.8257,82,16.08,0,6.34
537,Dourbali,11.8091,15.8632,18,18.22,0,4.20
538,Verāval,20.9000,70.3667,59,21.37,0,5.30

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [44]:
hotel_df = pd.DataFrame(perfect_weather_df)
hotel_df["Hotel"] = ""
hotel_df.head()

,City,Latitude,Longitude,Humidity,Temperature,Clouds,Wind,Hotel
7,Punta Arenas,-53.1500,-70.9167,54,16.01,0,4.63,
17,Port Elizabeth,-33.9180,25.5701,77,21.17,0,4.12,
23,Los Llanos de Aridane,28.6585,-17.9182,41,18.96,0,1.79,
28,Xucheng,20.3500,110.1288,72,16.39,0,3.59,
49,Bilma,18.6853,12.9164,28,14.34,0,3.55,

In [ ]:
url = 
query = f""
response = requests.get(query)

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure